<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Platos</title>
</head>
<body>
	<h1>Platos</h1>

	<p>
		<a th:href="@{/plato}">Añadir plato</a>
	</p>
	<ul th:each="plato: ${platos}">
		<li>Nombre: <span th:text="${plato.nombre}">Nombre del plato</span></li>
		<li>Preparacion: <span th:text="${plato.preparacion}">Preparacion</span></li>
		<li>Dificultad: <span th:text="${plato.dificultad.nombre}">Dificultad</span></li>
		<li>Tipo de cocina: <span th:text="${plato.tipoCocina.nombre}">Tipo</span></li>
		<a th:href="${'plato/' + plato.id}"><span>Añadir ingredientes</span></a>
	</ul>
</body>
</html>